.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.bodyAccount {
    margin-top: 10%;
    align-self: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.h1Orders{
    text-align: center;
    align-self: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}
button:hover {
    background-color: #0056b3;
}

.product-grid-account {
    display: grid;
    align-items: center;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    margin: auto;
    gap: 20px; /* Space between cards */
    margin-top: 0px; /* Adds space between header and cards */
  }